body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: peachpuff;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

.logo img {
    height: 100px;
    width: 100px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 15px;
}

nav a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 50%; 
    background-color: white;
    display: inline-block;
}


h1, h2, h3 {
    color: #333;
}
main {
    padding: 20px;
    max-width: auto;
    margin: 0 auto;
    text-align: center;
    background-color: coral;
}

main h1 {
    font-size: 2em;
    margin-bottom: 10px;
} 

.welcome-section {
    margin-bottom: 20px;
}

.tagline {
    font-size: 1.2em;
    color: #555;
    margin-bottom: 20px;
}

.split-screen {
    display: flex;
    height: 100vh;
}

.image-half {
    flex: 1;
    background: url(SCwithLynn.jpg) center/cover; 
}

.quote-half {
    flex: 0.5;
    padding: 20px;
    background-color: #fff;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.quote-half blockquote {
    font-size: 1.5em;
    margin-bottom: 10px;
    flex: 1;
}

.quote-half cite {
    display: block;
    font-style: italic;
}  


footer {
    background-color: peachpuff;
    color: black;
    padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.socialmedia {
    margin-bottom: 20px;
}

.socialmedia img {
    height: 20px; 
    margin-right: 5px; 
}

/* Responsive styles for smaller screens */
@media screen and (max-width: 600px) {
    header {
        flex-direction: column; 
        text-align: center;
    }

    nav {
        margin-top: 10px;
    }
}
