body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: peachpuff;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    max-width: 100%;
    height: auto;
}

.logo img {
    height: 100px;
    width: 100px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 15px;
}

nav a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 50%; 
    background-color: white;
    display: inline-block;
    max-width: 100%;
    height: auto;
}


h1, h2, h3 {
    color: #333;
}
main {
    padding: 20px;
    max-width: auto;
    margin: 0 auto;
    text-align: center;
    background-color: coral;
}

main h1 {
    font-size: 2em;
    margin-bottom: 10px;
} 

.welcome-section {
    margin-bottom: 20px;
}

.tagline {
    font-size: 1.2em;
    color: #555;
    margin-bottom: 20px;
}

.split-screen {
    display: flex;
    height: 100vh;
}

.image-half {
    flex: 1;
    background: url(SCwithLynn.jpg) center/cover; 
    max-width: 100%;
    height: auto;
}

.quote-half {
    flex: 0.5;
    padding: 20px;
    background-color: #fff;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 100%;
    height: auto;
}

.quote-half blockquote {
    font-size: 1.5em;
    margin-bottom: 10px;
    flex: 1;
}

.quote-half cite {
    display: block;
    font-style: italic;
}  


footer {
    background-color: peachpuff;
    color: black;
    padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    height: auto;
}

.socialmedia {
    margin-bottom: 20px;
}

.socialmedia img {
    height: 20px; 
    margin-right: 5px; 
}

.responsiveimg {
    max-width: 100%;
    height: auto;
}

#backToTopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}

.slider-container {
    max-width: 800px;
    margin: auto;
    position: relative;
    overflow: hidden;
}

.slide {
    display: none;
    transition: opacity 1s ease-in-out;
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    cursor: pointer;
    color: white;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.dot-container {
    text-align: center;
    margin-top: 20px;
}

.dot {
    height: 15px;
    width: 15px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.dot.active {
    background-color: #717171;
}


.abtSC {
    background-color: #f8d7da; /* Add your desired background color */
    padding: 15px;
    border-radius: 8px;
    margin-top: 20px;
}




/* Responsive styles for smaller screens */
@media screen and (max-width: 600px) {
    header {
        flex-direction: column; 
        text-align: center;
    }

    nav {
        margin-top: 10px;
    }
}
